{% extends 'foundation/base.html' %}
{% load static %}
{% block content %}

<style>
    .ver-body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
    }

    .h1 {
        color: red;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    .fa-times-circle {
        color: red;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .suc-card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }
</style>
<main>
    <!-- Banner section -->
    <div class="banner-section">
        <!-- Banner image with alt attribute -->
        <img src="{% static 'foundation/img/slideShow.jpg' %}" alt="Banner Image">
        <div class="banner-text main">
            <h1>Donate to save lives</h1>
        </div>
    </div>
    <div class="ver-body">
        <div class="card suc-card">
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="fa fa-times-circle"></i>
            </div>
            <h1 class="h1">Failed</h1>
            <p class="p">We couldn't received your donation;<br /> 😔!</p>
        </div>
    </div>
</main>

{% endblock content %}