{% extends 'foundation/base.html' %}
{% load static %}
{% block content %}

<style>
    
</style>
<main>
    <!-- Banner section -->
    <div class="banner-section">
        <!-- Banner image with alt attribute -->
        <img src="{% static 'foundation/img/slideShow.jpg' %}" alt="Banner Image">
        <div class="banner-text main">
            <h1>Donate to save lives</h1>
        </div>
    </div>
    <div class="ver-body">
    <div class="card suc-card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1 class="h1">Success</h1>
        <p class="p">We received your donation; Thank you! 😊</p>
    </div>
    </div>
</main>

{% endblock content %}